<div class="form-container">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (submit)="onLogin()">
        <mat-form-field>
            <input matInput placeholder="email" type="email" email required formControlName="email"/>
            <mat-hint>Please enter a valid email</mat-hint>
            <mat-error>
                Invalid or missing email
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput #pass placeholder="password" type="password" required formControlName="password"/>
            <mat-hint>Please enter your password </mat-hint>
            <mat-error>
                Missing password
            </mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="loginForm?.invalid">Sign up</button>
    </form>
</div>